
body {
    font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
}


[class^="icon-"],
[class*=" icon-"] {
    font-style: normal;
}


.headTitle{
    padding-top: 40px;
    font-size: 24px;
    color: #808080;

}

.headTitle > span {
    padding-bottom: 10px ;
    border-bottom: 2px  solid #1FAEFF;

}

/*头部区域*/

#header {
    height: 80px;
}

#header > .topbar {
    height: 40px;
    border-bottom: 1px solid #c0c0c0;
    line-height: 40px;
}

#header > .topbar > .container > .row > div {
    height: 40px;
    font-size: 15px;
    color: #888;
}

.navbar-nav {
    margin-left: 20px;
}
#header > .topbar > .container > .row > div + div {
    border-left: 1px solid #c0c0c0;
}

#header a {
    color: #fff;
}

#header a:hover {
    text-decoration: none;
}

#header .btn-itcast {
    color: #fff;
}

/*业务介绍*/
.yewu-content {
    position: relative;
    margin-top: 120px;
    padding-bottom: 60px;
}
.twoBoxImg {
    padding-bottom: 40px;
}

.btn-itcast {
    color: #ffffff;
    background-color: #E92322;
    border-color: #DB3B43;
}


/*我们的优势*/
#youshi {
    margin-top: 20px;
    background-color: #eee;;
}

.threeBoxImg {
    padding-bottom: 40px;
}
/*覆盖区域*/

.fugai-content {
    margin-top: 100px;
    height: 80px;
    color: #FFFFFF;
    line-height: 80px;
    font-weight: 500;
    position: relative;
    background: url("../image/img-4/bq.png") ;
    /*background-color: red;*/
}

.fugai-title {
      font-size: 30px;
}

.dituImg {
    text-align: center;
    width: 100%;
}

/*高校资源*/
#ziyuan {
    background-color: #eee;;
}


/*案例分析*/
#jieshao  {
     background: url("../image/img-6/dw.png"); 
}

.hzImg {
    margin-top: 40px;
}

.footer {
    margin-top: 40px;
    width: 100%;
    height: 120px;
    background: url("../image/img-8/dl.png");
}



.btn-itcast:hover,
.btn-itcast:focus,
.btn-itcast:active,
.btn-itcast.active,
.open .dropdown-toggle.btn-itcast {
    color: #ffffff;
    background-color: #E92322;
    border-color: #DB3B43;
}

.btn-itcast:active,
.btn-itcast.active,
.open .dropdown-toggle.btn-itcast {
    background-image: none;
}

.btn-itcast.disabled,
.btn-itcast[disabled],
fieldset[disabled] .btn-itcast,
.btn-itcast.disabled:hover,
.btn-itcast[disabled]:hover,
fieldset[disabled] .btn-itcast:hover,
.btn-itcast.disabled:focus,
.btn-itcast[disabled]:focus,
fieldset[disabled] .btn-itcast:focus,
.btn-itcast.disabled:active,
.btn-itcast[disabled]:active,
fieldset[disabled] .btn-itcast:active,
.btn-itcast.disabled.active,
.btn-itcast[disabled].active,
fieldset[disabled] .btn-itcast.active {
    background-color: #E92322;
    border-color: #DB3B43;
}

.btn-itcast .badge {
    color: #E92322;
    background-color: #ffffff;
}

.navbar-itcast {
    background-color: #159DFF;
    margin-bottom: 0;
    top: 0;
    width: 100%;
}

.navbar-itcast .navbar-brand {
    color: #777;
    height: 80px;
}


/*轮播图*/
/* 当屏幕宽度大于768时，将元素高度设置为410px */

#main_ad > .carousel-inner > .item {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}


@media (min-width: 768px) {
    #main_ad > .carousel-inner > .item {
        height: 600px;
    }
}

#main_ad > .carousel-inner > .item > img {
    width: 100%;
}



.navbar-itcast .navbar-brand:hover,
.navbar-itcast .navbar-brand:focus {
    color: #5e5e5e;
    background-color: transparent;
}

.navbar-itcast .navbar-text {
    color: #777;
}

.navbar-itcast .navbar-nav > li > a {
    color: #777;
    line-height: 48px;
    font-size: 14px;
}

.navbar-itcast .navbar-nav > li > a:hover,
.navbar-itcast .navbar-nav > li > a:focus {
    color: #333;
    background-color: transparent;
    border-bottom: 2px solid #e92322;
}

.navbar-itcast .navbar-nav > .active > a,
.navbar-itcast .navbar-nav > .active > a:hover,
.navbar-itcast .navbar-nav > .active > a:focus {
    color: #555;
    background-color: transparent;
    border-bottom: 1px solid #e92322;
}

.navbar-itcast .navbar-nav > .disabled > a,
.navbar-itcast .navbar-nav > .disabled > a:hover,
.navbar-itcast .navbar-nav > .disabled > a:focus {
    color: #ccc;
    background-color: transparent;
}

.navbar-itcast .navbar-toggle {
    border-color: #ddd;
    margin-top: 23px;
    margin-bottom: 23px;
}

.navbar-itcast .navbar-toggle:hover,
.navbar-itcast .navbar-toggle:focus {
    background-color: #ddd;
}

.navbar-itcast .navbar-toggle .icon-bar {
    background-color: #888;
}

.navbar-itcast .navbar-collapse,
.navbar-itcast .navbar-form {
    border-color: #e7e7e7;
    padding-right: 30px;
}

.navbar-itcast .navbar-nav > .open > a,
.navbar-itcast .navbar-nav > .open > a:hover,
.navbar-itcast .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #e7e7e7;
}



@media (max-width: 767px) {
    .navbar-itcast .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .navbar-itcast .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-itcast .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
        background-color: transparent;
    }
    .navbar-itcast .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-itcast .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-itcast .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #555;
        background-color: #e7e7e7;
    }
    .navbar-itcast .navbar-nav .open .dropdown-menu > .disabled > a,
    .navbar-itcast .navbar-nav .open .dropdown-menu > .disabled > a:hover,
    .navbar-itcast .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color: #ccc;
        background-color: transparent;
    }
}

.navbar-itcast .navbar-link {
    color: #777;
}

.navbar-itcast .navbar-link:hover {
    color: #333;
}

.navbar-itcast .btn-link {
    color: #777;
}

.navbar-itcast .btn-link:hover,
.navbar-itcast .btn-link:focus {
    color: #333;
}

.navbar-itcast .btn-link[disabled]:hover,
fieldset[disabled] .navbar-itcast .btn-link:hover,
.navbar-itcast .btn-link[disabled]:focus,
fieldset[disabled] .navbar-itcast .btn-link:focus {
    color: #ccc;
}
