*{
    margin:0;
    padding:0;
}
html,body{
    height:100%;
    font-family:"microsoft yahei";
    font-size: 20px;

}
.swiper-container {

    width: 100%;
    height: 100%;
    background:#000;

}

.music{
    width: 30px;
    height: 30px;
    position: absolute;
    z-index: 100;
    margin-top: 15px;
    margin-left: 86%;
}

 .swiper-slide1{
    width:100%;
    height:100%;
    background:url(http://www.ushangjing.com/usj-wechat/static/fcRecruit/images/img-1/bg.jpg) no-repeat left top;
    background-size:100% 100%;

}
@-webkit-keyframes start {
    0%,30% {opacity: 0;-webkit-transform: translate(0,10px);}
    60% {opacity: 1;-webkit-transform: translate(0,0);}
    100% {opacity: 0;-webkit-transform: translate(0,-8px);}
}
@-moz-keyframes start {
    0%,30% {opacity: 0;-moz-transform: translate(0,10px);}
    60% {opacity: 1;-moz-transform: translate(0,0);}
    100% {opacity: 0;-moz-transform: translate(0,-8px);}
}
@keyframes start {
    0%,30% {opacity: 0;transform: translate(0,10px);}
    60% {opacity: 1;transform: translate(0,0);}
    100% {opacity: 0;transform: translate(0,-8px);}
}

#array {
    width: 10%;
    height: 25px;
    left: 45%;
    bottom: 20px;
    position: absolute;
    z-index: 999;
    -webkit-animation: start 1.5s infinite ease-in-out;
}

/*第一屏*/
 .logo {
     position: relative;
     margin-left:20px;
     margin-top: 20px;
 }
 .logo img {
     width: 100px;
 }
 .title img {
     position: relative;
     margin-top: 30px;
     width: 80%;
     margin-left: 10%;
 }

 .title-people {
     position: absolute;
     top: 25%;
     left: 5%;
 }

 .title-earth {
     position: absolute;
    width: 80%;
     top: 18%;
     left: 10%;
 }

 .zhaomu img {
     margin-left: 15%;
     margin-top: -10%;
     width: 70%;
 }
 .text {
     margin-top: 30px;
     font-size: 1rem;
     color: white;
     text-align: center;
 }

/*第二屏*/
.swiper-slide2{
    width:100%;
    height:100%;
    background:url(http://www.ushangjing.com/usj-wechat/static/fcRecruit/images/img-2/bg.jpg) no-repeat left top;
    background-size:100% 100%;
    align-content: center;

}

 .swiper-slide2 .title {
    position: relative;
     margin-top: 10px;
    margin-left: 30px;
    width: 30%;

}
 .introduce {
     position: relative;
     width: 250px;
     margin-left: auto;
     margin-right: auto;
 }
 .circle1 {
     float: right;
     width: 80px;
     position: relative;
     z-index: 1001;

 }
.circle3 img,
 .circle2 img,
 .circle1 img{
     width: 80px;

 }

.circle2 {
    float: left;
    width: 80px;
    position: relative;
    z-index: 1001;
    margin-top: -40px;
    margin-left: 20px;

}


.circle3 {
    float: right;
    width: 80px;
    position: relative;
    margin-top: -40px;
    z-index: 1001;
    margin-left: 20px;

}
.circletext {
     position: absolute;
     top: 12px;
     right: 10px;
     width: 60px;
     font-size: 14px;
     z-index: 1001;
 }
.line-r {
    position: relative;
    width: 80px;
    height: 100px;
    margin-top: -11%;
    margin-left: 98px;
    transform: rotate(9deg);
    -ms-transform: rotate(9deg);
    -moz-transform: rotate(9deg);
    -webkit-transform: rotate(13deg);

}

.line-l {
    position: relative;
    width: 80px;
    height: 100px;
    margin-top: -34px;
    margin-left: 95px;;
    /*transform: rotate(9deg);*/
    /*-ms-transform: rotate(9deg);*/
    /*-moz-transform: rotate(9deg);*/
    -webkit-transform: rotate(-13deg);

}

.circle1 {
    clear: both;
    position: relative;
    float: right;
}


.cooperate {
    width: 60%;
    margin-left: 20%;
}

.cooText {
    width: 80%;
    margin-left: 10%;
    margin-top: 10px;
    font-size: 0.8rem;
    color: #FFFFFF;
    font-weight: 500;
    text-align: center;
}

/*@keyframes myfirst*/
/*{*/
    /*0%   {height: 20px}*/
    /*25%  {height: 40px}*/
    /*50%   {height: 60px}*/
    /*75%   {height: 80px}*/
    /*100%  {height: 100px}*/
/*}*/


/*第3屏*/
.swiper-slide3{
    width:100%;
    height:100%;
    background:url(http://www.ushangjing.com/usj-wechat/static/fcRecruit/images/img-3/bg.jpg) no-repeat left top;
    background-size:100% 100%;

}

.cloud {
    width:90px;
    position:relative;
    margin-left: 60%;
    margin-top: -10%;
}

.cloud1 {
    width:60px;
    position:relative;

}

.wind {
    width:40px;
    position:relative;
    margin-left: 30%;
    margin-top: 10%;
}

.wind1 {
    width:40px;
    float: right;
    position:relative;
    margin-right: 10px;
    margin-top: 30%;
}

.text-intro {
    position: absolute;
    top:15%;
    left: 10%;
    width: 80%;
    color: #374776;
    font-weight: 500;
    font-size: 0.9rem;
}

/*第4屏*/
.swiper-slide4{
    width:100%;
    height:100%;
    background:url(http://www.ushangjing.com/usj-wechat/static/fcRecruit/images/img-4/bg.jpg) no-repeat left top;
    background-size:100% 100%;

}
.honor  {
    position: relative;
    margin-left: 20%;
    width: 60%;
}

.content1 {
    position: relative;
    float: left;
    width: 30%;
    height: 27%;
    margin-left: 3%;
}
.content1-title img {
    width: 80%;
    position: relative;
    margin-left: 10%;
    text-align: center;

}

.content1-title  .item {
    position: absolute;
    top: 18%;
    left: 30%;
    color: #333333;
    font-weight: 600;
    font-size: 1rem;
}

.word {
    color: #ffffff;
    /*font-size: 12px;*/
    font-size: 0.5rem;
}

/*第5屏*/
.swiper-slide5 {
    width: 100%;
    height: 100%;
    background: url(http://www.ushangjing.com/usj-wechat/static/fcRecruit/images/img-5/bg.jpg) no-repeat left top;
    background-size: 100% 100%;
}

.responsibility {
    width: 100%;
    float: left;
}
.text1 {
   margin-top: 30%;
    margin-left: 8%;
    width: 23%;
    float: left;
    color: #ffffff ;
    font-size: 0.8rem;
}

.text2 {
    margin-top: 30%;
    margin-left: 4%;
    width: 23%;
    float: left;
    color: #ffffff ;
    font-size: 0.8rem;

}

.text1 .words {
    margin-top:93%;

}
.text2 .words {
    margin-top:70%;

}
.fcboy {
    margin-top: 10px;
    width: 33%;
    float: left;
}
.demand {
    clear: both;
    position: relative;
    width: 100%;

}
.demand  img{
    margin-top: 10px;
    width: 80%;
    margin-left: 10%;
}

.demand-text {
    position: absolute;
    top: 20px;
    left: 15%;
    z-index: 2;
    width: 70%;
    text-align: left;
    font-size: 0.7rem;
    color: #FFFFFF;

}



input:focus {
    outline: none;
}
input{
    margin: 0;
    padding: 0;
    border-width: 0;
}


input::-moz-focus-inner,
button::-moz-focus-inner {
    border: 0;
}
/*第6屏*/
.swiper-slide6 {
    width: 100%;
    height: 100%;
    background: url(http://www.ushangjing.com/usj-wechat/static/fcRecruit/images/img-6/bg.jpg) no-repeat left top;
    background-size: 100% 100%;
}


.infoItem {
    margin-left: 15%;
    margin-top:  1rem;
    font-size: 18px;
    width: 15%;
    height: 40px;
    color: #555555;
    line-height: 40px;
    float: left;
    background-color: #FFFFFF;
    text-align: center;
    position: relative;

}

.itemInput {
    align-content: center;
    margin-top: 1rem;
    width: 55%;
    height: 40px;
    /* margin-left: 15%; */
    font-size: 18px;
    float: left;

}


.sex button {
    margin-top: 1rem;
    margin-left: 20%;
    width: 20%;
    height: 40px;
    float: left;
    font-size: 20px;
    background-color: #FFFFFF;
    color: #555555;
    line-height: 40px;
    text-align: center;
    border: 0px;

}
.sumbit {
    clear: both;
     width: 100%;
    position: relative;
}
.sumbit img{
    margin-top: 30px;
    width: 40%;
    margin-left: 30%;
}

.sumbitText {
    position: absolute;
    color: #FFFFFF;
    font-size: 1rem;
    text-align: center;
    top: 50%;
    left: 40%;
    z-index: 2;
}
